{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'home/homestyle.css' %}"> -->
<html>
    <head>
        <link href="{% static 'home/homestyle.css' %}" rel="stylesheet" />
    </head>

    <body>
        <div>
            <div>
              <div class="mainweb-mainweb">
                <div class="mainweb-body1">
                    <div class="mainweb-navigation">
                        {% include 'shared/navbar.html' %}
                      </div>
                  <div class="mainweb-text-box">
                    <div class="mainweb-frame1">
                      <div class="mainweb-frame2">
                        <img
                          src="/playground_assets/c1f1f1e6-3486-4808-a8bf-42a040e57c5c-v7d9.svg"
                          alt="Rectangle180612"
                          class="mainweb-rectangle"
                        />
                        <img
                          src="/playground_assets/2978926d-7b6b-4489-94db-4a3fb010f20b-jqib.svg"
                          alt="Rectangle180609"
                          class="mainweb-rectangle1"
                        />
                        <img
                          src="/playground_assets/6a6088de-381e-4a90-9815-354aa04c3476-nu7.svg"
                          alt="Rectangle180610"
                        />
                        <img
                          src="/playground_assets/6a69e54b-dcb6-4607-899b-4d4280d79174-vhy.svg"
                          alt="Rectangle180611"
                          class="mainweb-rectangle3"
                        />
                      </div>
                    </div>
                    <div class="mainweb-frame4">
                      <div class="mainweb-main-text">
                        <span class="mainweb-text heroH1">Visualize your Artworks</span>
                      </div>
                    </div>
                    <div class="mainweb-frame3 textarea">
                      <span class="mainweb-text1">
                        <span>미대생의 작품을 더 쉽게 만나다</span>
                        <br />
                        <span></span>
                      </span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
    </body>
</html>